// Uploader Component.
.hacu-uploader {

	[data-state="visible"] {
		display: block;
	}

	[data-state="hidden"] {
		display: none;
	}

	&__uploader {
		padding: 15px;
		width: 100%;
		text-align: center;
		cursor: pointer;
		color: $color-black-2;
		background-color: transparent;
		border: 1px dashed $color-gray-3;
		border-radius: 4px;

		* {
			pointer-events: none;
		}

		&:hover,
		&:focus {
			background-color: $color-white-1;

			@include transition;
		}
	}

	&__thumbnail {

		&__controls {
			margin-top: 10px;
		}
	}

	&__image-thumbnail {
		margin-bottom: 10px;

		&__image {
			max-width: 100%;
			border-radius: 4px;
		}
	}

	&__audio-thumbnail {

		.hacu-uploader__file-thumbnail {
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.mejs-container,
		.mejs-container .mejs-controls,
		.mejs-embed,
		.mejs-embed body {
			width: 100% !important;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

	&__video-thumbnail {

		.hacu-media-player,
		.mejs-container {
			border-radius: 4px;
		}

		.mejs-container,
		.mejs-container .mejs-controls,
		.mejs-embed,
		.mejs-embed body {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		.mejs-overlay-play {
			display: none;
		}
	}

	&__file-thumbnail {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px;
		background-color: $color-white-1;
		border: 1px solid $color-gray-3;
		border-radius: 4px;

		&__icon {
			display: block;
			min-width: 40px !important;
			max-width: 40px !important;
		}

		&__filename {
			margin-top: 0;
			margin-bottom: 3px;
			font-weight: 700;
			font-size: 12px;
			line-height: 14.4px;
			text-transform: uppercase;
			word-break: break-word;
			color: $color-black-3;
		}

		&__filemeta {
			margin: 0;
			font-size: 10px;
		}
	}
}
