.hacu-checkbox-pill {

	&__container {
		display: flex;
		gap: 6px;

		&[data-display="block"] {
			flex-direction: column;

			.hacu-checkbox-pill {
				width: 100%;
			}
		}

		&[data-display="inline"] {
			flex-wrap: wrap;
		}
	}

	&__item-btn {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 0.5em 1em;
		cursor: pointer;
		color: $clr-black-2;
		background-color: $clr-gray-2;
		border: 1px solid $clr-gray-2;
		border-radius: 4px;

		&[data-shape="round"] {
			border-radius: 100px;
		}

		&[data-state="active"] > svg {
			display: block;
		}

		svg {
			display: none;
			width: 18px;
			height: 18px;
		}

		&:hover,
		&:focus,
		&[data-state="active"] {
			color: $clr-white-1;
			background-color: $clr-blue-1;

			@include transition;
		}
	}
}
