// Size Field.
.hacu-size {

	&__container {
		display: flex;
		gap: 3px;
	}

	&__col-left {
		width: 100%;
	}

	&__col-right {
		position: relative;
	}

	&__dropdown-btn {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 30px;
		min-height: 30px;
		font-size: 12px;
		line-height: 12px;
		cursor: pointer;
		color: $color-black-2;
		background-color: $color-white-2;
		border: 1px solid $color-gray-1;
		border-radius: 4px;

		&:hover,
		&:focus,
		&[data-state="opened"] {
			color: $color-blue-1;
			background-color: $color-white-3;
			border-color: $color-blue-1;

			@include transition;
		}
	}

	&__dropdown {
		display: none;
		position: absolute;
		right: 0;
		padding: 0;
		margin: 0;
		margin-top: 3px;
		width: 45px;
		max-height: 150px;
		list-style: none;
		background-color: $color-white-1;
		border: 1px solid $color-gray-1;
		border-radius: 4px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 999999;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-gray-1;
			border-radius: 4px;
		}

		&[data-state="opened"] {
			display: block;
		}

		&__li {
			margin: 0;
			padding: 5px;
			font-size: 12px;
			line-height: 12px;
			cursor: pointer;

			&:hover,
			&:focus,
			&[data-state="active"] {
				color: $color-white-1;
				background-color: $color-blue-1;

				@include transition;
			}
		}
	}

	@include media-sm {

		&__dropdown-btn {
			min-width: 34px;
			min-height: 34px;
		}
	}
}
