// Defaults.
.accordion-section,
.customize-section-title,
.customize-control-title,
.customize-section-description {
	letter-spacing: 0.5px !important;
}

.hacu {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	input[type="url"],
	input[type="text"],
	input[type="email"],
	input[type="radio"],
	input[type="checkbox"],
	input[type="number"],
	select,
	textarea {
		color: $clr-black-1;
		background-color: $clr-white-1;
		box-shadow: 0 0 0 transparent;
		border: 1px solid $clr-gray-1;
		border-radius: 4px;

		&:focus {
			border-color: $clr-blue-1;
			box-shadow: 0 0 0 1px $clr-blue-1;
			outline: 2px solid transparent;
		}
	}

	input[type="url"],
	input[type="text"],
	input[type="email"],
	input[type="number"] {
		padding: 0 8px;
		line-height: 2;
		min-height: 30px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width: 1rem;
		height: 1rem;
	}

	input[type="radio"] {
		border-radius: 100%;

		&:checked::before {
			margin: 0.1875rem;
			width: 0.5rem;
			height: 0.5rem;
			line-height: 1.14285714;
			border-radius: 50%;
		}
	}

	select {
		padding: 0 24px 0 8px;
		min-height: 30px;
	}

	textarea {
		padding: 2px 6px;
		width: 100%;
		resize: vertical;
		overflow: auto;
		line-height: 1.42857143;
	}

	@include media-sm {

		select,
		input[type="number"] {
			height: 34px;
		}

		input[type="radio"],
		input[type="checkbox"] {
			width: 1.5625rem;
			height: 1.5625rem;
		}

		input[type="radio"]:checked::before {
			vertical-align: middle;
			width: 0.5625rem;
			height: 0.5625rem;
			margin: 0.4375rem;
			line-height: 0.76190476;
		}
	}
}
