.hacu-color-picker {

	&__container {
		position: relative;

		.hacu-color-picker__app {
			position: absolute !important;
			left: 0 !important;
			width: 100% !important;
			border-radius: 4px !important;

			&.visible {
				position: relative !important;
			}
		}
	}

	&__picker {
		padding: 2px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		border: 1px solid $clr-gray-1;
		border-radius: 100%;

		&__preview {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: inherit;

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
				background-size: 0.5em;
				border-radius: inherit;
				z-index: 1;
			}

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: inherit;
				border-radius: inherit;
				z-index: 9;
			}
		}
	}

	.pcr-app .pcr-swatches > button {
		border-radius: 100% !important;
	}
}
