$clr-white-1: #fff;
$clr-white-2: #f6f7f7;
$clr-white-3: #f0f0f1;

$clr-blue-1: #2271b1;
$clr-blue-2: #0a4b78;

$clr-black-1: #2c3338;
$clr-black-2: #50575e;
$clr-black-3: #1d2327;

$clr-gray-1: #8c8f94;
$clr-gray-2: #0000001a;
$clr-gray-3: #abaeb1;
