// Accordion Component.
.hacu-accordion {
	background-color: $clr-white-1;

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;
		cursor: pointer;
		border: 1px solid $clr-gray-1;
		border-radius: 4px;

		&[data-state="closed"] {

			.hacu-accordion__control {
				transform: rotate(0deg);
			}
		}

		&[data-state="opened"] {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			.hacu-accordion__control {
				transform: rotate(180deg);
			}
		}

		&:hover,
		&:focus {
			border-color: $clr-blue-1;

			@include transition;
		}

		* {
			pointer-events: none;
		}
	}

	&__control {

		svg {
			display: block;
			width: 16px;
			height: 16px;

			@include transition;
		}
	}

	&__body {
		overflow: hidden;
		transition: max-height 200ms ease-out;

		&[data-state="closed"] {
			max-height: 0;
		}
	}

	&__content {
		padding: 10px 15px;
		border: 1px solid $clr-gray-1;
		border-top: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&__footer {
		padding-top: 10px;
		margin-top: 10px;
		text-align: right;
		border-top: 1px dotted #ccc;
	}
}
