.hacu-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	color: $clr-blue-1;
	background-color: $clr-white-2;
	border-color: $clr-blue-1;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;

	&:hover,
	&:focus {
		color: $clr-blue-2;
		background-color: $clr-white-3;
		border-color: $clr-blue-2;

		@include transition;
	}
}

.hacu-btn-small {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 30px;
	min-height: 30px;
	cursor: pointer;
	color: $clr-black-2;
	background-color: $clr-white-2;
	border: 1px solid $clr-gray-1;
	border-radius: 4px;

	* {
		pointer-events: none;
	}

	svg {
		display: block;
		width: 18px;
		height: 18px;
	}

	&[data-state="disabled"] {
		cursor: not-allowed;
		opacity: 0.7;
	}

	&[data-state="default"]:hover,
	&[data-state="default"]:focus,
	&[data-state="active"] {
		color: $clr-blue-1;
		background-color: $clr-white-3;
		border-color: $clr-blue-1;

		@include transition;
	}

	@include media-sm {
		&__control-btn {
			min-width: 34px;
			min-height: 34px;
		}
	}
}