.hacu-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	color: $clr-blue-1;
	background-color: $clr-white-2;
	border-color: $clr-blue-1;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;

	&:hover,
	&:focus {
		color: $clr-blue-2;
		background-color: $clr-white-3;
		border-color: $clr-blue-2;

		@include transition;
	}
}
