.hacu-toggle-checkbox {
	position: relative;
	display: block;
	width: 38px;
	height: 22px;

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		right: 0;
		bottom: 0;
		height: 14px;
		cursor: pointer;
		background-color: #b4b9be;
		border-radius: 50px;
		transition: 0.4s;
	}

	&::after {
		content: "";
		position: absolute;
		height: 22px;
		width: 22px;
		left: -4px;
		background-color: #999;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50px;
		transition: 0.4s;
	}

	&__input {
		display: none !important;

		&:checked + .hacu-toggle-checkbox::after {
			background-color: #007cba;
			transform: translateX(24px);
		}
	}
}
