// Colors.
$color-white-1: #FFF;
$color-white-2: #F6F7F7;
$color-white-3: #F0F0F1;
$color-blue-1: #2271B1;
$color-blue-2: #0A4B78;
$color-black-1: #2C3338;
$color-black-2: #50575E;
$color-black-3: #1D2327;
$color-gray-1: #8C8F94;
$color-gray-2: #0000001A;
$color-gray-3: #ABAEB1;
$color-gray-4: #C5C5C5;
